* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

#ball {
    padding: 10px;
    position: relative;
    left: 0px;
}

button {
    width: 50px;
    height: 30px
}

button:nth-child(even){
    margin-left: 15px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: tomato;
}
