* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

#ball {
    padding: 10px;
    position: relative;
    left: 0px;
}

button {
    width: 50px;
    height: 25px;
    border: 0px;
    border-radius: 3px;
}

button:nth-child(even){
    margin-left: 15px;
}

button:nth-child(1){
    background-color: rgba(51, 230, 51, 0.8);
    color: rgb(255, 255, 255);
}

.btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 10px;
    background-color: tomato;
}
